.ssh/id_rsa
.ssh/known_hosts
.ssh/authorized_keys
.cache/
.vim/.netrwhist
.vim/dict/c_headers.tags
.gnupg/*.gpg
.gnupg/*.gpg~
.gnupg/random_seed
.gnupg/.#*
.gnupg/gpg-agent-info*
skk-dic/all.dic
skk-dic/skk-uim-jisyo
skk-dic/skk-uim-jisyo.lock
skk-dic/skki1_0u.dic
.emacs.d/auto-save-list
.emacs.d/backup-files
.emacs.d/site-lisp-backup
.emacs.d/temp-files
.emacs.d/temp-files*
.emacs.d/lib
.emacs.d/ac-comphist.dat
.emacs.d/eshell
.emacs.d/elpa
*.elc
CVS
.cvsignore
configstore
